{% load static %}
<script src="{% static 'vendors/mdb_4/js/jquery.js' %}"></script>
<script src="{% static 'vendors/mdb_4/js/popper.js' %}"></script>
<script src="{% static 'vendors/mdb_4/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/mdb_4/js/mdb.js' %}"></script>
<script src="{% static 'vendors/fa/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/axios/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/mdb_4/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/mdb_4/js/addons/datatables-select.min.js' %}"></script>

